{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <div class="container">

            <form method="post" class="col col-lg-6 mx-auto">

                <h1 class="mb-5">Ajouter un produit dans un conteneur</h1>

                <div class="form-group">
                    <label for="">Container</label>
                    <select name="container" class="form-control">
                        {% for container in containers %}
                            <option value="{{ container.id }}">{{ container }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Product</label>
                    <select name="product" class="form-control">
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Quantité</label>
                    <input type="number" name="quantity" class="form-control">
                </div>

                <input type="submit" value="Ajouter le produit dans le container" class="form-control btn btn-success">

            </form>

        </div>
    </section>

{% endblock %}